# House Prices - EDA

In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

PROJECT_PATH = "/".join(os.getcwd().split('/')[:-1])
DATA_PATH = os.path.join(PROJECT_PATH, 'data')
TRAIN_DATA_PATH = os.path.join(DATA_PATH, 'train.csv')

# Load the training dataset
house_prices_train = pd.read_csv(TRAIN_DATA_PATH)
house_prices_train = house_prices_train.drop('Id', axis=1)
house_prices_train.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

## Looking at the missing values

In [29]:
# Get the columns from the dataset
cols = house_prices_train.columns.tolist()

print('-------------------------')
print('Columns with missing data')
print('-------------------------')

cols_with_missing_data = []

# For each column, find the ratio of missing data
for col in cols:
    col_data = house_prices_train[col]
    missing_rows = len(col_data[col_data.isna()])
    total_rows = len(col_data)
    missing_ratio = (missing_rows / total_rows)
    
    # Anything greater than 0.0 if missing a value
    if missing_ratio > 0.0:
        cols_with_missing_data.append(col)
        print('{:16} {:.2f}%'.format(col, missing_ratio * 100))

print('-------------------------')
print('{} columns contain missing values'.format(len(cols_with_missing_data)))

-------------------------
Columns with missing data
-------------------------
LotFrontage      17.74%
Alley            93.77%
MasVnrType       0.55%
MasVnrArea       0.55%
BsmtQual         2.53%
BsmtCond         2.53%
BsmtExposure     2.60%
BsmtFinType1     2.53%
BsmtFinType2     2.60%
Electrical       0.07%
FireplaceQu      47.26%
GarageType       5.55%
GarageYrBlt      5.55%
GarageFinish     5.55%
GarageQual       5.55%
GarageCond       5.55%
PoolQC           99.52%
Fence            80.75%
MiscFeature      96.30%
-------------------------
19 columns contain missing values

Out of the 80 features we have in the dataset, 19 of them have missing data in some form.

In [31]:
house_prices_train[cols_with_missing_data].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LotFrontage   1201 non-null   float64
 1   Alley         91 non-null     object
 2   MasVnrType    1452 non-null   object
 3   MasVnrArea    1452 non-null   float64
 4   BsmtQual      1423 non-null   object
 5   BsmtCond      1423 non-null   object
 6   BsmtExposure  1422 non-null   object
 7   BsmtFinType1  1423 non-null   object
 8   BsmtFinType2  1422 non-null   object
 9   Electrical    1459 non-null   object
 10  FireplaceQu   770 non-null    object
 11  GarageType    1379 non-null   object
 12  GarageYrBlt   1379 non-null   float64
 13  GarageFinish  1379 non-null   object
 14  GarageQual    1379 non-null   object
 15  GarageCond    1379 non-null   object
 16  PoolQC        7 non-null      object
 17  Fence         281 non-null    object
 18  MiscFeature   54 non-null     object
dtypes: float64(3), object(16)
memory usage: 216.8+ KB

Out of these 19 features, 3 of them are numeric features whilst the remaining 16 are categorical features.

In [39]:
def get_feature_count_by_types(dtypes=None):
    if dtypes is None:
        raise ValueError('dtypes needs to be provided')
    return len(house_prices_train.select_dtypes(dtypes).columns)

numeric_col_count = get_row_count_by_types(['int64', 'float64'])
object_col_count = get_feature_count_by_types(['object'])

print('Number of numeric features: ', numeric_col_count)
print('Number of categorical features: ', object_col_count)

Number of numeric features:  37
Number of categorical features:  43

In [41]:
def get_data_by_dtypes(dtypes=None):
    if dtypes is None:
        raise ValueError('dtypes needs to be provided')
    return house_prices_train.select_dtypes(dtypes)